@page "/"

<PageTitle>Index</PageTitle>

@* Developer List *@

<h1>List of developers</h1>
<div class="row mb-5">
    <div class="col">Name</div>
    <div class="col text-right">Salary</div>
    <div class="col"></div>
    <div class="col">Level</div>
    <div class="col"></div>
</div>
@foreach (var developer in State.DeveloperList.Developers){
    <div class="row mb-5">
        <div class="col">
            @developer.Name
        </div>
        <div class="col text-right">
            @($"{developer.Salary:0.00}")
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="@LevelImage(developer.Level)" alt="@developer.Level" />
        </div>
        <div class="col">
            <button class="btn btn-success pl-4 pr-4" @onclick="@(() => SelectDeveloper(developer))">Select</button>
        </div>
    </div>
}

@* End developer list *@

@* Developer group *@

@if (State.Group.Members.Any()){
    <h1>Your current developer group</h1>

    @foreach (var (developer, pos) in 
        State.Group.Members.Select(
            (id, pos) => (State.DeveloperList.GetDeveloper(id), pos)
        )
    )
    {
        <div class="row mb-2">
            <div class="col">@developer?.Name</div>
            <div class="col text-right">@($"{developer?.Salary:0.00}")</div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"><button class="btn btn-danger" @onclick="@(() => RemoveFromGroup(pos))">Remove</button></div>
        </div>
    }
    <div class="row">
        <div class="col"></div>
        <div class="col"><hr /></div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
    <div class="row">
        <div class="col"> Total:</div>
        <div class="col text-right font-weight-bold"> @($"{State.TotalSalary():0.00}") </div>
        <div class="col"> </div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
}
@* End developer group *@

@* Customer entry *@

<h1>Please enter your details</h1>

<fieldset>
    <div class="row mb-2">
        <label for="name" class="col-2">Name</label>
        <input id="name" @bind="State.Group.Customer.Name" />
    </div>
    <div class="row mb-2">
        <label for="street" class="col-2">Street</label>
        <input id="street" @bind="State.Group.Customer.Street" />
    </div>
    <div class="row mb-2">
        <label for="city" class="col-2">City</label>
        <input id="city" @bind="State.Group.Customer.City" />
    </div>
    <button class="btn btn-primary" @onclick="@(() => PlaceOrder())">Place order</button>
</fieldset>

@* End customer entry *@