@page "/"

<PageTitle>Index</PageTitle>

@* Developer List *@

<h1>List of developers</h1>

@foreach (var developer in State.DeveloperList.Developers){
    <div class="row">
        <div class="col">
            @developer.Name
        </div>
        <div class="col text-right">
            @($"{developer.Salary:0.00}")
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="@LevelImage(developer.Level)" alt="@developer.Level"
        </div>
        <div class="col">
            <button class="btn btn-success pl-4 pr-4" @onclick="@(() => SelectDeveloper(developer))">Select</button>
        </div>
    </div>
}
