@page "/"

<PageTitle>Index</PageTitle>

@* Developer List *@

<DeveloperPlace.Client.Shared.DeveloperList
    Title="List of developers"
    Items="@State.DeveloperList.Developers"
    ButtonTitle="Select"
    ButtonClass="btn btn-success pl-4 pr-4"
    Selected="@SelectDeveloper" />

@* End developer list *@

@* Developer group *@

<DeveloperPlace.Client.Shared.DeveloperGroup
    Members="@State.Group.Members"
    Selected="@RemoveFromGroup"
    GetDeveloperFromId="@State.DeveloperList.GetDeveloper" />

@* End developer group *@

@* Customer entry *@

<h1>Please enter your details</h1>

<EditForm Model="@State.Group.Customer" OnValidSubmit="PlaceOrder">

    <DataAnnotationsValidator />

    <ValidationSummary />
<fieldset>
    <div class="row mb-2">
        <label for="name" class="col-2">Name</label>
        <InputText id="name" class="col-6" @bind-Value="@State.Group.Customer.Name" />
    </div>
    <div class="row mb-2">
        <div class="col-6 offset-2">
            <ValidationMessage For="@(() => State.Group.Customer.Name)" />
        </div>
    </div>
    <div class="row mb-2">
        <label for="street" class="col-2">Street</label>
        <InputText id="street" class="col-6"  @bind-Value="@State.Group.Customer.Street" />
    </div>
    <div class="row mb-2">
        <div class="col-6 offset-2">
            <ValidationMessage For="@(() => State.Group.Customer.Street)" />
        </div>
    </div>
    <div class="row mb-2">
        <label for="city" class="col-2">City</label>
        <InputText id="city" class="col-6" @bind-Value="@State.Group.Customer.City" />
    </div>
    <div class="row mb-2">
        <div class="col-6 offset-2">
            <ValidationMessage For="@(() => State.Group.Customer.City)" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4"></div>
        <button type="submit" class="btn btn-primary col-4">Place order</button>
        <div class="col-4"></div>
    </div>
</fieldset>
</EditForm>
@* End customer entry *@

@State.ToJson()