<div class="row mb-5">
    <div class="col">
        @Developer.Name
    </div>
    <div class="col text-right">
        @($"{Developer.Salary:0.00}")
    </div>
    <div class="col"></div>
    <div class="col">
        <img src="@LevelImage(Developer.Level)" alt="@Developer.Level" />
    </div>
    <div class="col">
        <button class="@ButtonClass" 
            @onclick="@(() => Selected.InvokeAsync(Developer))">@ButtonTitle</button>
    </div>
</div>